.posts-list {
    flex: 0 1 300px;
    overflow-y: auto;
}

.posts-list__el {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.posts-list__el + .posts-list__el {
    border-top: none;
}

.posts-list__el._active {
    background: lightblue;
}

.post-list__favorite {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 10px;
    margin-top: -18px;
}

.post-list__favorite._active {
    color: red;
}

.post-list__favorite:hover {
    color: royalblue;
}