* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    height: 50px;
}

.app {
    min-width: 960px;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
}

.app-header {
    margin: 0;
}

.app__inner {
    overflow: hidden;
    max-height: calc(100vh - 110px);
    display: flex;
    border: 1px solid grey;
}